body {
	background-color: rgb(15, 15, 25);
	font-family: monospace;
}

p {
	color: aliceblue;
	margin: 2px;
}

.author-separator {
	height: 15px;
	color: gray
}

.author-separator-line {
	height: 1px;
	background-color: rgb(60, 60, 100);;
}


.time-separator {
	margin-top: 60px;
	height: 15px;
	color: gray
}

.time-separator-line {
	height: 2px;
	background-color: gray;
}